html,body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.App-title {
  margin: 10px 10px 0 0;
  opacity: 0.5;
}
.map-wrapper {
  width: 100%;
  height: 100vh;
}
.hydrant-popup td:first-child {
  text-align: right;
  padding-right: 4px;
  font-weight: bold;
}
.hydrant-popup td:first-child::after {
  content: ":";
}
